<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="./styles/main.css"> 
        <script src="./js/funcoes.js"></script>
        <link rel="shortcut icon" href="./imagens/logo.jpg">
        <title>Full Stack Eletro</title>
    </head>
    <table class="menu">
        <tr class="cor-font">
            <td><a href="../views/index.php"><img src="../imagens/logo.jpg" alt="logo-fullStackEletro"></a></td> 
            <td><a href="../views/produtos_json.php" title="Conheça nossos produtos!">Produtos</a></td> 
            <td><a href="./loja">Nossas lojas</a></td> 
            <td><a href="../views/contatos.php">Contato</a></td>   
        </tr>
    </table>

<body>


    <h2>Seja bem vindo(a)!</h2>
    <p>Aqui em nossa loja, <strong><em>programadores tem desconto</em></strong> nos produtos para sua casa!</p>
    <img class="hfoto" src="../imagens/homepagephoto.jpg" alt="homepagefoto">
    <br> <br> <br> <br> <br>
    <br> <br> <br> <br> <br>

    <h4>Formas de pagamento</h4>
    <img class="pag-img" src="../imagens/forma de pag-logos-cartoes.jpg" alt="Formas de pagamento">

    <center>
        <font face="Times" size=3> Carlos &copy; RecodePro 2020</font>
    </center>
</body>

</html>