* {
    max-width: 95%;
    margin: auto;
}

.menu{    
    width: 100%;
    background-color:red; 
    text-align: center;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
    

}
.menu a{
    text-decoration: none; 
    border-radius: 8px;
    
}
.menu a:hover{
    background: rgb(81, 111, 247);
    transition: background 400ms;
}
table a{
    color: white;
}

a img{
    width: 130px;
}

.lista-produtos h3{
    font-size: 20px;
    margin: 0 auto; 
    text-align: center;
}

.ul-categorias{
    width: 20%;
    text-align: left;
    vertical-align: top;
}

.td-lista-produtos{
    width: 20%;
    text-align: center;
    vertical-align: bottom;
    font-family: Tahoma;
}
/*.td-lista-produtos img{
    width: 160px;
}
/*
.lista-produtos img {
    display: inline-block;
    margin: 0 auto;
}*/

h2,h3, p{
    font-family: Arial;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.hfoto {
    display: flex;
    border-radius: 10%;
    margin-top: 40px;
}

h5, h4{
    color:red;
    text-align: center;
}

form {
    width: 400px;
}

.pag-img {
    width: 400px;
    display: flex;
    margin-bottom: 20px;
 }
 .contatos p{
    text-align: center;
 }
 .contatos img{
    border-radius: 100%;
    max-width: 20%;
 }
 
div form{
    text-align: center;
    margin-left: auto;
    margin-right: auto; 
}

#comentsphp {
    text-align: center;
}
