<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Teste pjMongoDB</title>
</head>

<body>
    <center>
        <h1>Cadastrando usuario ao MongoDB e <br> retornando os dados cadastrados</h1>

        <form method="POST" action="/cadusuarios">
            <label for="name">Nome: </label><input type="text" name="nome" id="nome" /><br />
            <label for="email">email: </label><input type="text" name="email" id="email" /><br />
            <label for="senha">senha: </label><input type="password" name="senha" id="senha" /><br />
            <input type="submit" value="Cadastrar" />
        </form>
    </center>
</body>

</html>